.terraform/
.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# tfvars
*.tfvars
*.tfvars.json
!*.tfvars.example
keys/
*.pem
*.key
*-key.json
*credentials*.json
sa-*.json
.env
.env.*
*.retry
ansible/inventory/*.gcp.yml.local
.vault_pass
packer/*.auto.pkrvars.hcl
packer_cache/
*.box
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
*.swp
docs/ 