[defaults]
inventory = inventory/gcp.yml
host_key_checking = False
retry_files_enabled = False
result_format = yaml
deprecation_warnings = False
roles_path = roles
interpreter_python = /usr/bin/python3

[ssh_connection]
# подключение через iap туннель, ssh поднимает gcloud (см. group_vars/all.yml)
pipelining = True
